/* الجهة العلوية */

main {
    width: 100%;
    padding-top: 15%;
    margin: auto;
    text-align: center;
}
h1 {
    margin-bottom: 10px;
}
span {
    padding: 2px 8px;
    background-color: #186DFD;
    border-radius: 8px;
    color: white;
}

.main-p {
    font-size: 17px;
}