*
{
    padding:0;
    margin:0;
}
html
{
    scroll-behavior: smooth;
}
main
{
    width: 100%;
    height: 90vh;
    display:flex;
    gap:8%;
    justify-content: center;
    align-items: center;
}
.card
{
    border:solid 2px;
    width: calc(25%);
    height: 53.5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:none;
    transition:0.5s ease;
    border-radius:15px;
    padding-top:15px;
    text-align: center;
}
.card:hover
{
    box-shadow: 1px 2px 31px -2px rgba(0,0,0,0.61);
    -webkit-box-shadow: 1px 2px 31px -2px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 2px 31px -2px rgba(0,0,0,0.61);
}
#by
{
    transform:translateY(-250%)
}
#by_1
{
    transform:translateY(-250%);
}
.buy
{
    width:55%;
    border-radius: 8px;
    cursor:pointer;
    height: 12%;
    z-index: 1;
    border:solid black 1px;
    position:relative;
    font-family: 'IBM Plex Sans Arabic'; 
    transition:0.5s;
    font-size:23px;
    /* transform:translateY(-125%); */
    margin-top:150px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.buy::before
{
    content:"";
    position:absolute;
    transition:0.3s linear;
    top:0;
    right:0;
    border-radius: 4px;
    left:0;
    bottom:0;
    background-color:#155bef;
    transform:scaleX(0);
    z-index:-1;
    transform-origin:bottom;
}
.buy:hover::before
{
    transform:scaleX(1);
}
.buy:hover
{
    color:white;
    border:solid 1px #155bef;
}
section
{
    width:100%;
    background-color:#155bef;
    color:white;
    text-align: center;
    height: 12vh;
}
#sheild
{
    color: #155bef;
    position:absolute;
    margin-right:0.5%;
    font-size:large;
}
#email
{
    position:absolute;
    color:#155bef;
    margin-top:0.2%;
    font-size:large;
    margin-right:0.6%;
}
#storage
{
    position:absolute;
    color:#155bef;
    margin-right:0.4%;
}
p
{
    font-family:Poppins;
}
#true
{
    color:green;
    position:absolute;
    font-size:large;
    margin-right:0.5%;
}
#false
{
    color:red;
    margin-right:0.5%;
    position:absolute;
    font-size: large;
}
@keyframes liner_cards{
    0%{
        background: linear-gradient(30deg, rgba(75,75,208,1) 29%, rgba(91,93,93,1) 81%);
    }
    50%{
        background: linear-gradient(90deg, rgba(75,75,208,1) 29%, rgba(91,93,93,1) 81%);
    }
    100%{
        background: linear-gradient(180deg, rgba(75,75,208,1) 29%, rgba(91,93,93,1) 81%);
    }
}