main {
    width: 100%;
    padding-top: 15%;
    margin: auto;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 40vw;
}

.card {
    margin: auto;
    width: 48%;
    height: 15.8vw;
    border-radius: 15px;
    text-align: right;
    color: rgb(8, 8, 8);
    transition: .25s ease-in-out;
    background-image: url('/img/Cloud\ hosting-amico.png');
    transform: translateY(15%);
    background-size: 35%;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: center right;
}

.card:hover {
    transform: scale(1.09);
}

.card_title {
    margin-right:38%;
    margin-top: 25px;
}

.card_title p {
    color: gray;
}

.card-btn {
    transform: translate(-2% ,50%);
    position: absolute;
    padding: 1% 8%;
    font-size: larger;
    font-weight: 500;
    background-color: #186DFD;
    color: white;
    border-radius: 8px;
    transition: .25s ease-in;
}

.card-btn:hover {
    background-color: rgb(28, 86, 188);
}
#card-top:hover {
    transform: scale(1.09);
}
