main {
    width: 100%;
    padding-top: 15%;
    margin: auto;
    text-align: center;
}
h1 {
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    margin: auto;
    width: 700px;
    height: 200px;
    border-radius: 15px;
    text-align: right;
    color: rgb(8, 8, 8);
    transition: .25s ease-in-out;
    background-image: url('/img/Cloud\ hosting-amico.png');
    transform: translateY(15%);
    background-size: 200px;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: center right;
}

.card:hover {
    transform: scale(1.09);
}

.card_title {
    margin-right:38%;
    margin-top: 25px;
}

.card_title p {
    color: gray;
}

.card-btn {
    transform: translate(-90% ,40%);
    position: absolute;
    padding: 6px 50px;
    font-size: 18px;
    font-weight: 500;
    background-color: #186DFD;
    color: white;
    border-radius: 8px;
}
#card-top{
    transform: translateY(-15%);
}

#card-top:hover {
    transform: scale(1.09);
}
