/* الإٍستدعائات */
/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500&family=Poppins:wght@500;600&display=swap');
/* الخطوط */
/* الإٍستدعائات */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   font-family: 'IBM Plex Sans Arabic'; 
}

header {
    z-index: 999;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    padding-bottom: -150%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.162) 0px 7px 29px 0px;
 }
 
 .logo {
    height: 130px;
    margin-top: -5px;
    margin-right: 200px;
    margin-left: 55px;
    /* width: 190px;
    height: 110px; */
 }
 
nav {
   display: flex;
   justify-content: center;
   width: 100%;
}

nav a {
   padding: 8px 25px;
   margin-left: 15px;
   border-radius: 7px;
   color: rgb(11, 9, 9);
   transition: .18s ease-in-out;
}

nav a:hover {
   background-color: whitesmoke;
   color: #155bef;
}

.left-nav {
   display: flex;
   flex-direction: row-reverse;
   justify-content: left;
}

footer{
   display:flex;
   justify-content: end;
   align-items: center;
   background-color:#ffffff;
   height: 34vh;
   border-top: 1.5px solid #ccc;
   margin-top: 10%;
}
ul
{
   margin-right: 3%;
   text-align: center;
   list-style: none;
}
.footer_icons
{
   transition:0.3s;
   transform:translateY(60%);
   font-size:19px;
}
.footer_icons:hover
{
   color:gray;
   cursor: pointer;
}
.footer_links
{
   text-decoration: none;
   color:black;
   transition:0.2s;
}
.footer_links:hover
{
   color:#155bef;
}
.about_fot
{
   margin-right:1%;
   display:flex;
   text-align: right;
   flex-direction: column;
}
h2
{
   color:#155bef;
   text-decoration:overline;
}
.copy_right
{
   text-decoration: overline 0.5px rgba(98, 97, 97, 0.575);
   align-self: end;
   transform: translateX(-40%);
}

h4
{
    transform:translate(50%,-189%);
    text-decoration:overline #155bef;
    color:#155bef;
}