/* الإٍستدعائات */
/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500&family=Poppins:wght@500;600&display=swap');
/* الخطوط */
/* الإٍستدعائات */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'IBM Plex Sans Arabic'; 
}

header {
    z-index: 999;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.162) 0px 7px 29px 0px;
    background-image: url('/img/DataHost.png');
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: center right 55px;
 }
 
 .logo {
    height: 130px;
    margin-top: -5px;
    margin-right: 200px;
    margin-left: 55px;
    /* width: 190px;
    height: 110px; */
 }
 
nav {
   display: flex;
   justify-content: center;
   width: 100%;
}

nav a {
   padding: 8px 25px;
   margin-left: 15px;
   font-weight: 550;
   font-size: 17px;
   border-radius: 7px;
   color: rgb(11, 9, 9);
   transition: .18s ease-in-out;
}

nav a:hover {
   background-color: whitesmoke;
   color: #155bef;
   
}

#icon-serv {
   transform: translateX(10%);
}

.left-nav {
   display: flex;
   flex-direction: row-reverse;
   justify-content: left;
}

form {
   margin: auto;
   width: 40%;
   height: 15vw;
   background-color: red;
   border-radius: 15px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
   margin-bottom: 10px;
}

input[type='text'] {
   padding: 2%;
   width: 50%;
   border-radius: 5px;
   font-family: 'IBM Plex Sans Arabic'; 
   outline: none;
}

input[type='email'] {
   padding: 2%;
   width: 50%;
   border-radius: 5px;
   font-family: 'IBM Plex Sans Arabic'; 
   outline: none;
}

textarea {
   padding: 2%;
   width: 50%;
   height: 1vw;
   font-family: 'IBM Plex Sans Arabic'; 
   border-radius: 5px;
   font-weight: 400;
   font-size: 13px;
   outline: none;
}

footer {
   display: flex;
   background-color: #151B23;
   width: 100%;
   margin-top: 25%;
   padding-top: 5%;
   border-top: 1.5px solid #ccc;
}

.about_us {
   margin-right: 3%;
}

#about-title{
   font-weight: 500;
   text-align: center;
   border-radius: 6px;
   width: 150px;
   color: white;
   border-top: 5px solid #155bef;
}

#p-about {
   font-size: large;
   font-weight: 500;
   color: white;
}

.list {
   width: 50%;
   display: flex;
   justify-content: left;
   flex-direction: row;
   gap: 8%;
   margin-right: 10%;
}

.links a {
   color: white;
   margin-right: 25%;
   text-align: center;
   transition: .25s ease-in-out;
}

.links a:hover {
   color: #155bef;
}

.links_title {
   border-top: 3px solid #155bef;
   color: white;
   border-radius: 4px;
   font-size: large;
   font-weight: 500;
}


.brands {
   display: flex;
   flex-direction: row;
   margin-left: 30%;
   margin-top: 10px;
}

#brand {
   transition: .25s ease-in-out;
}

#brand:hover {
   color: #155bef;
}

.copyright {
   width: 100%;
   height: 2vw;
   padding-top: 8%;
   background-color: #151B23;
}
.copyright h1{
   text-decoration: 2px overline rgba(255, 255, 255, 0.493);
   color: rgba(255, 255, 255, 0.619);
   font-size: smaller;
   text-align: center;
   background-color: #151B23;
}
